<div id="descriptionFailChance" style="padding-left: 25px">
    <h1 style="margin-left: 10px">Probability of failure within next X cycles</h1>
    <p class='description'>The below graph shows the probability of a given aircraft engine failing, within the next X cycles. As the engines are used and exposed to harsh conditions, we would expect problems to surface. Eventually these problems will lead to the failure of the engine. This graph allows us to see the rate of this change of probability, allowing us to specify a tolerance level and act accordingly.</p>
</div>
