<div id="descriptionFailChance" style="padding-left: 25px">
    <h1 style="margin-left: 10px">Probability of Failure within next X cycles</h1>
    <p class='description'>The below graph shows the probability of a given Aircraft engine failing, within the next X cycles. As an engine is used and exposed to certain conditions over time, it gets more and more likely to fail within a given timeframe. This graph allows us to see the rate of this change of probability, allowing us to specify a tolerance level and act accordingly.</p>
</div>
