<div id="descriptionRULWithDust" style="padding-left: 25px">
    <h1 style="margin-left: 10px">Predicted Number of Cycles before failure with Dust</h1>
    <p class='description'>This graph demonstrates both the predicted remaining lifetime of an engine, and its dust exposure. Throughout flights, engines are subject to varying levels of dust, which can be a factor in the decaying of the engines lifetimes. This data allows us to see the strength of this correlation, more specifically it allows us to infer links between dust exposure and engine lifetime.</p>
</div>
