<div id="descriptionDustExposureGraph" style="padding-left: 25px">
    <h1 style="margin-left: 10px">Dust Exposure against Cycles</h1>
    <p class='description'>Below shows how the exposure of dust to the engine of an aircraft has varied over its lifetime. As dust levels vary at different altitudes and locations, dust exposure can be scattered more so than expected. This graph allows us to spot the specific cycles (and therefore flights) in which the engine was subject to particularly large or small amounts of dust.</p>
</div>
