<div id="descriptionGeoMap" style="padding-left: 25px">
    <h1 style="text-align: center;">Aircraft routes</h1>
    <p class='description'>This graph demonstrates the current flight routes taken by the aircrafts, all in one place. A circle represents an airport, and the lines represent the flight paths taken. This, alongside other data available on the application, allows us to determine which flights are more damaging to an engine’s lifetime, and which flights will require the most maintenance.</p>
</div>