<div id="descriptionRiskPlot" style="padding-left: 25px">
    <h1 style="text-align: center">Risk Graph for Multiple Aircrafts</h1>
    <p class='description'>The below graph and data presents the predicted remaining cycle of a specific aircraft before maintenance is required labelled with its ID. As different aircrafts are exposed to different conditions and usage levels, they decay at different rates. This data therefore allows us to make maintenance decisions independently for each aircraft we’re interested in, by knowing the predicted time until failure.</p>
</div>
