<div id="descriptionHistogramPlot" style="padding-left: 25px">
    <h1 style="text-align: center">Distribution of Cycles</h1>
    <p class='description'>The below graph demonstrates three values for each aircraft chosen: The number of cycles the engine has been running for; the predicted remaining number of cycles before maintenance is required and the summation of these, demonstrating the total expected lifespan of the aircraft’s engine. Comparing different aircraft allows us to determine which routes and which engines are lasting longer, and which will need more regular maintenances.</p>
</div>
