<h1 id="dustAnalysis">Dust Analysis</h1>
<h2  class="h2" id="summary">Summary</h2>
<p>Our analysis found that dust does play a role in the training of our model albeit not as influential as some 
of the other features. We tried removing dust features during the model training phase for the regression model. 
We observed a 4.3% increase in Mean/Relative Absolute Error and 2% increase in Mean/Relative Root Mean Squared Error.  
We perform predictions of the lifetime of the engine operating in dust-free conditions and compared with our dusty 
predictions. The result was a mean engine degradation of 4.76% with standard deviation of 4.84%. </p>

<h2  class="h2" id="dataset">Dataset</h2>
<p>We have a good distribution of aircrafts which operated in dust-free and dusty environments 
in both our training and test data. In our dataset, there are two dust-related data for every engine cycle. 
S22 is the amount of dust exposure per cycle and s23 is the total dust exposure experienced by the engine 
since its last maintenance.  </p>

<h2  class="h2" id="features">Features</h2>
<p>During the training of our models, we performed feature engineering, creating moving averages (a22, a23) 
and standard deviations (sd22, sd23) for both these readings. We perform a Pearson Correlation feature 
scoring system and the results are as below. </p>
<img src="../static/photos/dust_features.png">
<p class="caption">Figure 1: Dust Features with their ranking and pearson scores</p>
<p>&nbsp;</p>
<p>Dust does play a role in our model albeit not as influential as some of the other readings. Our model 
only take into account the top 35 features. Thus, only total dust exposure plays a role in our model.</p>

<h2 class="h2" id="dust">Effect of dust on the models</h2>
<p>We evaluate the performance of a few variants of the regression-based models. </p>
<img src="../static/photos/regression_evaluation.png">
<p class="caption">Figure 2: Evaluation of regression-based models</p>
<p>&nbsp;</p>
<p>To analysis the effect of the dust features we selected on the predictive ability on our models, we created 
new models but with the dust features removed. The results shows that the dust feature do play a role and removing 
them resulted in a decrease in predictive ability of our models. </p>
<img src="../static/photos/Regression-Model.png">
<p class="caption">Figure 3: Evaluation of regression-based models with dust features removed</p>
<p>&nbsp;</p>
<p>There is a general increase in error for all the variants of the models (except for neural network regression 
which shows significant amounts of errors in the first place). The model we used for our project is the Boosted 
Decision Tree Regression model. For that model, we observe 4.3% increase in Mean/Relative Absolute Error and 2% 
increase in Mean/Relative Root Mean Squared Error.  </p>

<h2 class="h2" id="dust_predicted">Effect of dust on the predicted useful life</h2>
<p>In our test data, we have aircrafts which operates in dusty environments. To investigate the extent of degradation 
that dust have on these aircrafts, we perform predictions for the remaining useful life (RUL) using the aircraft data 
without dust data. This prediction combined with the total number of cycles the engine has operated gives us the duration 
which the engine would have last if it was operating in a dust-free environment with everything else invariant. We label 
this as the “Ideal Lifetime” of the engine. We then make predictions for the RUL using the aircraft data with dust data
to produce the “Actual Lifetime” of the engine.  </p>
<p>From the data, we observed a mean degradation of 4.76% with standard deviation of 4.84%. Below is the graph of the 
ideal lifetime and actual lifetime of the engines.</p>
<img src="../static/photos/ideal_lifetime.png">
<p class="caption">Figure 4: Graph of Ideal Lifetime and Actual Lifetime</p>
<p>&nbsp;</p>

<p>We also did an analysis on the effect of degradation against the total dust exposure. In Figure 5
the red line represent the best fit (-8.77e-05 x2 + 0.0998x + 0.324) with the light orange region representing 
the 95% confidence region given by the standard deviation of 0.264. While Figure 5 uses very small coefficient 
on the x2 for the line of best fit, suggesting that it may be unnecessary. Looking at the data we can tell it 
is unlikely to be a linear relationship  </p>
<img src="../static/photos/degradation_total_dust.png">
<p class="caption">Figure 5: Graph of Engine Degradation against Total Dust Exposure</p>
<p>&nbsp;</p>
