<div class="instructionsContainer">
    <ul class="instructionsList">
        <li class="list-group-item">
            <h3>
                <span-custom>Upload</span-custom>
                the file containing the data describing the engine <br/>
                Submit it and get the failure point predictions.
            </h3>
        </li>
        <li class="list-group-item">
            <h3>Click the
                <span-custom>Insights</span-custom>
                button to vizualize the tiles panel.
            </h3>
        </li>
        <li class="list-group-item">
            <h3>Click the
                <span-custom>Comparisons</span-custom>
                button to vizualize the predicted failure points.
            </h3>
        </li>
    </ul>
</div>