<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/topnavStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
</head>
<body style="height: auto">


<div id="descriptionRiskPlot" style="padding-top:10px;  max-height: 200px; float: left; width: 55%">
    <h1 style="text-align: center" class="failureLable">Description of the graph</h1>
    <p>Text for risk graph</p>
    <p>Text again</p>
    <p>Text for risk graph</p>
    <p>Text again</p>
    <p>Text for risk graph</p>
    <p>Text again</p>
</div>

<div id="descriptionHistogramPlot" style="padding-top:10px;  max-height: 200px; float: left; width: 55%">
    <h1 style="text-align: center" class="failureLable">Description of the graph</h1>
    <p>Text for histogram graph</p>
    <p>Text again</p>
</div>

<div id="descriptionGeoMap" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="text-align: center; margin-top: 20px" class="failureLable">Description of the graph</h1>
    <p>Text for GEO MAP graph</p>
    <br>
    <p>Text again</p>
</div>

<div id="descriptionDustExposureGraph" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="margin-bottom: 20px;margin-left: 10px" class="failureLable">Description of the graph</h1>
    <p>Text for DUST EXPOSURE graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionRULVariation" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="margin-bottom: 20px;margin-left: 10px" class="failureLable">Description of the graph</h1>
    <p>Text for RUL VARIATION graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionDustAccumulationGraph" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="margin-bottom: 20px;margin-left: 10px" class="failureLable">Description of the graph</h1>
    <p>Text for DUST ACCUMULATION graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionFailChance" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="margin-bottom: 20px;margin-left: 10px" class="failureLable">Description of the graph</h1>
    <p>Text for FAIL CHANCE graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionRULWithDust" style="padding-bottom: 50px; padding-left: 25px">
    <h1 style="margin-bottom: 20px;margin-left: 10px" class="failureLable">Description of the graph</h1>
    <p>Text for RUL with DUST graph</p>
    <br>
    <p>Text again</p>
</div>

</body>
</html>