<div id="predictions" class="textPanel">
    <h1 class="failureLable">Failure time prediction</h1>
    <div class="container bootstrap snippet">
        <div class="panel-body inf-content" >
            <div class="row"  style="width: 80%">
                <div class="col-md-6" style="width: 100%">
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody id="aircraftsText">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>"
